<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Web</title>
    <style>
         .sul{
            background-color: #333;
        }
        .sul li{
            list-style: none;
            display: inline-block;
        }
       .sul li a{
            display: inline-block;
            width: 100px; 
            height: 50px;
            text-decoration: none;
            padding-top: 10px;
        }
        .all,.upload{
            display:inline-block;
            width: 100px; 
            height: 50px;
            background-color: pink;
            text-align: center;
        
        }
        
        
    </style>
</head>
<body>
        <ul class="sul">
            <li class="all"> <a href="index.ejs">全部相册</a> </li>
            <li class="upload"> <a href="./upload.ejs">上传</a> </li>
        </ul>
    <h1>Web相册</h1>

    <ul>
        <% for(var i=0;i<imgs.length;i++){ %>
        <li>
            <img src="/web/<%= imgs[i] %>" alt="pic" width="100px">
        </li>
        <% } %>
    </ul>

</body>
</html>